<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produto</title>
</head>
<body>
    <h1>Cadastrar produto:</h1>
    <form action="/produto/cadastrar" method="post">
        <label>Nome</label>
        <input type="text" name="nome" placeholder="Informe o nome do Produto">
        <label>Valor</label>
        <input type="text" name="valor" placeholder="Informe o valor do Produto">
        <input type="submit" value="Salvar">
        <br>
        <p th:text="${msg}"></p>
        <p th:text="${nome}"></p>
        <p th:text="${valor}"></p>
    </form>
</body>
</html>